@import 'abstracts/variable';
@import 'abstracts/mixin';

nav{
	width:100%;
	float:left;
    border-bottom:1px solid #eaeaea;

	ul{
		display: flex;
    	justify-content: space-around;

		li{
			padding:12px 0;
			float:left;		
			@include fonts(normal, 10.5px, $nunito);
			position:relative;
			color:#000;

			@media screen and (min-width:1112px){
				@include fonts(normal, 13px, $nunito);
			}
			&:after{
				content:'';
				position:absolute;
				left:0;
				bottom:0;
				height:2px;
				width:0;
				transition: width .5s;
				background:#000;
			}
			&:hover:after{
				width:100%;
			}

			span{
				height:5px;
				width:5px;
				position:absolute;
				left:35px;
				top:14px;
				border:solid $bg-color2;
				border-width:0 0 1.5px 1.5px;
				-ms-transform: rotate(-45deg);
				-webkit-transform: rotate(-45deg);
				transform: rotate(-45deg);
				transition:all .3s;

				@media screen and (min-width:1112px){
					left:41px;
				}
			}
			&:hover > span{
				transform: rotate(135deg);
				top:19px;			
			}

			&:hover > div{
				height:300px;
				width:100%;
				position:absolute;
				left:0;
				bottom:-300px;
				background-color:$bg-color6;
				z-index:1;
			}
		}
	}
}