@import 'abstracts/variable';

.nav-bar{	
	width:100%;
	float:left;	

	li{
		display:inline-block;
		padding:13px 25px;
		float:left;		
		font-size:12px;
		font-family: 'Nunito', sans-serif;
		position:relative;

		span{
			height:5px;
			width:5px;			
			position:absolute;
			right:12px;
			top:15px;
			border:solid $bg-color2;
			border-width:0 0 1.5px 1.5px;
			-ms-transform: rotate(-45deg);
			-webkit-transform: rotate(-45deg);
			transform: rotate(-45deg);
			transition:all .3s;
		}

		&:hover > span{
			transform: rotate(135deg);
			top:19px;			
		}

		&:hover > div{
			height:300px;
			width:500px;
			position:absolute;
			background-color:$bg-color1;
		}
	}	
}