@import 'base/reset';
@import '../font/font-face/font.css';



/*================================it's common style on whole projects================================*/

.page-base{
	width:910px;
	margin:auto;

	@media screen and (min-width:1112px){
		width:1110px;
	}
}
a{
	text-decoration:none;
}
label{
	display:block;
}