/*all background colors*/

$bg-color1: #ff1500; /*red*/
$bg-color2: #000000; /*black*/
$bg-color3: #ffc400; /*yellow*/
$bg-color4: #d0c6c6;
$bg-color5: #efefef;
$bg-color6: #eaeaea; /*gray*/

/*all font styles*/
$nunito: Nunito, sans-serif;