@import 'layout/content';
@import 'abstracts/mixin';

.sticky-content{
	display:flex;
	display:-webkit-flex;
	-ms-display:flex;
	-moz-display:flex;
	flex-wrap:wrap;
	-webkit-flex-wrap:wrap;
}
.stick{
  	position: relative;
}
.filter{
	width:17%;
	float:left;
	@include noselect;

	.f-heading{
		@include fonts;
	    padding: 20px 0;
	    color: #414650;

		a{
			float:right;
			color:#ff4d29;
		}
	}
	
	.brand{
		@include fonts;
	    padding: 5px 0;
	    color: #000000;
	    border: solid #e2e2e2;
	    border-width: 0 0 1px 0;
	    cursor:pointer;

	    span{
	    	float:right;
	    }
	}
	.brand-open{
		@include fonts;
	    padding: 5px 0;
	    color: #000000;
	    li{
	    	margin:5px 0;

	    	input{
	    		display:none;

	    		&:checked ~ .checkbox::after{
				    content: "\2713";
				    position: absolute;
				    left: 50%;
				    top: 50%;
				    transform: translate(-50%, -50%);
	    		}
	    	}
	    	.checkbox{
	    		float: left;
			    width: 17px;
			    height: 17px;
			    position: relative;
			    border: solid 1px #2b2b2b;
			    background-color: #ffffff;
			    margin-right: 10px;
	    	}

			&:hover{
				background-color:#d6e7f1;
			}
		}
	}
	.sort-by{
		@extend .brand;
	}
	.sort-by-open{
		@extend .brand-open;
	}
	.releated{
		@extend .brand;
	}
	.releated-open{
		@extend .brand-open;
	}
}
.products-cont{
	width:83%;
	float:left;
	padding-left:20px;
	box-sizing: border-box;

	.showing-result{
		float:left;
		padding: 21px 0 11px 20px;
		width:100%;
		@include fonts;
	}
	.products{
		display:flex;
		display:-webkit-flex;
		-ms-display:flex;
		-moz-display:flex;
		flex-wrap:wrap;
		-webkit-flex-wrap:wrap;
		float:left;

		.product{
			width:calc((100% / 4) - 20px);
			margin:10px 0 15px 20px;

			.p-img{
				float:left;

				img{
					width:75%;
				}
			}
			.p-title{
				float: left;
				color: #186dc5;
				font: normal 13px Nunito,sans-serif;
			}
			.p-by{
				float: left;
			    color: #949494;
			    font: normal 13px Nunito,sans-serif;
			    width: 100%;
			}
			.p-price{
				float: left;
			    width: 100%;
			    color: #ff0000;
			    font: normal 14px arial,sans-serif;
			}
		}
	}
}