@import 'layout/content';
@import 'abstracts/mixin';

.filter{
	height:500px;
	width:17%;
	float:left;

	.f-heading{
		@include fonts(normal, 14px,$nunito);
	    padding: 20px 0;
	    color: #414650;

		a{
			float:right;
			color:#ff4d29;
		}
	}
	
	.brand{
		@include fonts(normal, 14px,$nunito);
	    padding: 5px 0;
	    color: #000000;
	    border: solid #e2e2e2;
	    border-width: 0 0 1px 0;
	    cursor:pointer;

	    span{
	    	float:right;
	    }
	}
	.brand-open{
		@include fonts(normal, 14px,$nunito);
	    padding: 5px 0 5px 15px;
	    color: #000000;
	    p{
			&:hover{
				background-color:#d6e7f1;
			}
		}
	}
	.sort-by{
		@extend .brand;
	}
	.sort-by-open{
		@extend .brand-open;
	}
	.releated{
		@extend .brand;
	}
	.releated-open{
		@extend .brand-open;
	}
}
.products{
	height:500px;
	width:83%;
	float:left;
}